.mainDiv {
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-gap: 1px;
}

.mainDiv > div {
  min-width: 0;
  min-height: 0;
  text-align: center;
}

.mainDiv .grid-container-nav {
  grid-column-start: 1;
  grid-column-end: 6;
}

.mainDiv #grid-container-side-menu {
  grid-column-start: 1;
  padding-left: 10px;
  margin-left: 15px;
  grid-column-end: 2;
  background: #2E8B57;
  border-radius: 5px;
  height: 700px;
}

.mainDiv #main-section {
  grid-column-start: 2;
  grid-column-end: 6;
}

.mainDiv #childThree {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  grid-column-start: 2;
  grid-column-end: 6;
}
#childThree > div {
  background-color: #ffffff;
  width: 350px;
  height: 350px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.mainDiv .loginBar {
  grid-column-start: 1;
  grid-column-end: 6;
}
