.navContainer {
  display: flex;
  margin-top: 15px;
  margin-left: 0px;
  margin-bottom: 20px;
  float: left;
}
.navLinks {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.navLinks:hover {
    color: rgba(106, 167, 1, 0.705);
}
.ui.stackable.menu {
    background-color:#2E8B57 !important;
}