
.navLinks {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}
.navLinks:hover {
  color: #000000;
  text-decoration: none;
}
.ui.stackable.menu {
  background-color: #2e8b57 !important;
  padding: 0px 50px 0px 50px;
  top: 0;
  width: 100%;
}

.ui.container{
  display:inline !important;
}